pipeline/Ingest_API.json
{
	"name": "Ingest_API",
	"properties": {
		"activities": [
			{
				"name": "Get Stock List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "StockUniverse",
						"type": "DatasetReference",
						"parameters": {
							"folder": "Control",
							"file": "StockUniverse.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Stock",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for Active Stock",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for Active Stock').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Download from API",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Tiingo",
									"type": "DatasetReference",
									"parameters": {
										"APIAddress": {
											"value": "@concat('\nhttps://api.tiingo.com/tiingo/daily/',\nitem().StockCode,\n'/prices?startDate=2000-01-01&token=ad7a3439179844131f3a468e9c90d23dec925ac3\n')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StockUniverse",
									"type": "DatasetReference",
									"parameters": {
										"folder": "Base/StockPrices",
										"file": {
											"value": "@concat(\nitem().Stockcode,\n'.csv'\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Filter for Active Stock",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Stock List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Stock List').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(\nitem().IsActive,\n'1'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}