pipeline/Ingest_API.json
{
	"name": "Ingest_API",
	"properties": {
		"activities": [
			{
				"name": "Get Stock List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "StockUniverse",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter for Active Stocks Only",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Stock List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Stock List').output",
						"type": "Expression"
					},
					"condition": {
						"value": "@activity('Get Stock List').output.StockCode = \"1\"",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}