Datafactory/pipeline/GetAPIData.json
{
	"name": "GetAPIData",
	"properties": {
		"activities": [
			{
				"name": "Copy API Data to RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Api Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "TiingoAPI",
						"type": "DatasetReference",
						"parameters": {
							"TiingoTargetDataURL": {
								"value": "@replace(\nreplace(pipeline().parameters.APIURL,\n'<ticker>',\npipeline().parameters.Ticker),\n'<token>',\nvariables('APIKey')\n)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TiingoDataFile",
						"type": "DatasetReference",
						"parameters": {
							"TiingoFileName": {
								"value": "@concat(\npipeline().parameters.Ticker,\n'.json'\n)",
								"type": "Expression"
							},
							"TiingoRAWFolder": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get API Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(\n'https://kvazureproject.vault.azure.net/Secrets/',\npipeline().parameters.APIName\n,'APIKey?api-version=7.1'\n)",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Api Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get API Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "APIKey",
					"value": {
						"value": "@activity('Get API Token').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Ticker": {
				"type": "string"
			},
			"APIURL": {
				"type": "string"
			},
			"APIName": {
				"type": "string"
			}
		},
		"variables": {
			"APIKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}