Datafactory/pipeline/GetData_Tiingo.json
{
	"name": "GetData_Tiingo",
	"properties": {
		"activities": [
			{
				"name": "Copy Tiingo API Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Api Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "TiingoAPI",
						"type": "DatasetReference",
						"parameters": {
							"TiingoTargetDataURL": {
								"value": "@concat(\n'daily/',\npipeline().parameters.TiingoTicker,\n'/prices?startDate=',\npipeline().parameters.TiingoStartDate,\n'&endDate=',\nutcnow('yyy-MM-dd'),\n'&token=',\nvariables('TiingoAPIKey')\n)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TiingoDataFile",
						"type": "DatasetReference",
						"parameters": {
							"TiingoFileName": {
								"value": "@concat(\npipeline().parameters.TiingoTicker,\n'.json'\n)",
								"type": "Expression"
							},
							"TiingoRAWFolder": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Tiingo API Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvazureproject.vault.azure.net/Secrets/TiingoAPIKey?api-version=7.1",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Api Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Tiingo API Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TiingoAPIKey",
					"value": {
						"value": "@activity('Get Tiingo API Token').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TiingoTicker": {
				"type": "string"
			},
			"TiingoStartDate": {
				"type": "string"
			}
		},
		"variables": {
			"TiingoAPIKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}