Datafactory/pipeline/IngestDataPipeline.json
{
	"name": "IngestDataPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup Stock Universe",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "StockUniverse",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Active Stock",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for Active Tickers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for Active Tickers').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GetData_Tiingo",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Ticker": {
										"value": "@item().Ticker",
										"type": "Expression"
									},
									"APIURL": {
										"value": "@item().URL",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter for Active Tickers",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Stock Universe",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Stock Universe').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(\nitem().IsActive,\n'1'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 5,
		"annotations": []
	}
}