Datafactory/pipeline/OrchestrateRawToBasePipeline.json
{
	"name": "OrchestrateRawToBasePipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SinkRAW_Tiingo",
						"type": "DatasetReference",
						"parameters": {
							"TiingoTicker": "AAPL"
						}
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ticker",
					"value": {
						"value": "@activity('Get Metadata1').output.itemname",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Ticker": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-27T19:57:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}