Datafactory/pipeline/OrchestrateRawToBasePipeline.json
{
	"name": "OrchestrateRawToBasePipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Lasest RAW Date Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RawTiingo",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach Tiingo Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Lasest RAW Date Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Lasest RAW Date Folder').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ListTiingoFolder",
								"value": {
									"value": "@int(item().name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LatestTiingoFolder",
								"value": {
									"value": "@string(max(variables('ListTiingoFolder')))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Tiingo Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RawToBase",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TiingoFolder": {
							"value": "@variables('LatestTiingoFolder')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"LatestTiingoFolder": {
				"type": "String"
			},
			"ListTiingoFolder": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-27T19:57:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}