Datafactory/pipeline/OrchestrateEoDPipeline.json
{
	"name": "OrchestrateEoDPipeline",
	"properties": {
		"activities": [
			{
				"name": "Stock Look Up",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Control_StockPortolfio",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set ForEach Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Stock Look Up').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "EoDDataPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "EoDDataPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Set ForEach Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stock Look Up",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StockCode",
					"value": {
						"value": "@activity('Stock Look Up').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"StockCode": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-27T19:57:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}