Datafactory/pipeline/RawToCurated.json
{
	"name": "RawToCurated",
	"properties": {
		"activities": [
			{
				"name": "Raw To Curated",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DFRawToCurated",
						"type": "DataFlowReference",
						"parameters": {
							"Ticker": {
								"value": "'@{variables('FilePath')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"RawTiingo": {
								"TiingoTicker": "AAPL"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SinkRAW_Tiingo",
						"type": "DatasetReference",
						"parameters": {
							"TiingoTicker": "AAPL"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FilePath",
					"value": "2021"
				}
			}
		],
		"variables": {
			"FilePath": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-27T19:57:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}