Datafactory/pipeline/RawToBasePipeline.json
{
	"name": "RawToBasePipeline",
	"properties": {
		"activities": [
			{
				"name": "Get RAW Tiingo Folder List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "TiingoFileRawLocation",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get RAW Tiingo Folder List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get RAW Tiingo Folder List').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get All Folder Names",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LatestRAWTiingoFolders",
								"value": {
									"value": "@int(item().name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Find Latest Folder",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get All Folder Names",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LatestRAWTiingoFolder",
								"value": {
									"value": "@string(\nmax(variables('LatestRAWTiingoFolders'))\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "DF Raw to Base",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Move to BASE",
						"type": "DataFlowReference",
						"parameters": {
							"RawFolder": {
								"value": "'@{variables('LatestRAWTiingoFolder')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"LatestRAWTiingoFolders": {
				"type": "Array"
			},
			"LatestRAWTiingoFolder": {
				"type": "String"
			}
		},
		"annotations": []
	}
}