ADFAZProject2021/PartialArmTemplates/ArmTemplate_3_4_2021_20_35_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFAZProject2021"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EoDDataPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Eod Data from API",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_TiingoAPI",
								"type": "DatasetReference",
								"parameters": {
									"APIQuery": {
										"value": "@pipeline().parameters.APIQuery",
										"type": "Expression"
									},
									"APIKey": {
										"value": "@pipeline().parameters.APIKey",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRAW_Tiingo",
								"type": "DatasetReference",
								"parameters": {
									"TiingoFilename": "AAPL"
								}
							}
						]
					}
				],
				"parameters": {
					"APIQuery": {
						"type": "string",
						"defaultValue": "daily/aapl/prices?startDate=2019-01-02/"
					},
					"APIKey": {
						"type": "string",
						"defaultValue": "ad7a3439179844131f3a468e9c90d23dec925ac3"
					},
					"StockCode": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-27T19:57:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrchestrateEoDPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock Look Up",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Source_ControlStockPortolfio",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach - Stockcode",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Stock Look Up",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Stock Look Up').output.item().Ticker",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "EoDDataPipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "EoDDataPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					}
				],
				"variables": {
					"StockCode": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-27T19:57:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_ControlStockPortolfio')]",
				"[concat(variables('factoryId'), '/pipelines/EoDDataPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_ControlStockPortolfio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azureprojectstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "AzureProjectActiveStock.csv",
						"folderPath": "CONTROL",
						"container": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}