ADFAZProject2021/PartialArmTemplates/ArmTemplate_4_5_2021_22_2_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFAZProject2021"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EoDDataPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Eod Data from API",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_TiingoAPI",
								"type": "DatasetReference",
								"parameters": {
									"Frequency": "daily",
									"APIKey": {
										"value": "@pipeline().parameters.APIKey",
										"type": "Expression"
									},
									"Ticker": {
										"value": "@pipeline().parameters.Ticker",
										"type": "Expression"
									},
									"ReturnType": "prices",
									"StartDate": {
										"value": "@concat('startDate=',\nutcnow(\npipeline().parameters.StartDate\n))",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRAW_Tiingo",
								"type": "DatasetReference",
								"parameters": {
									"TiingoTicker": {
										"value": "@pipeline().parameters.Ticker",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"APIKey": {
						"type": "string",
						"defaultValue": "ad7a3439179844131f3a468e9c90d23dec925ac3"
					},
					"Ticker": {
						"type": "string"
					},
					"StartDate": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-27T19:57:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrchestrateEoDPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stock Look Up",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Source_ControlStockPortolfio",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach - Ticker",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Active Stocks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Active Stocks').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "EoDDataPipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "EoDDataPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Ticker": {
												"value": "@item().Ticker",
												"type": "Expression"
											},
											"StartDate": "@item().LastUpdateDateKey"
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Active Stocks",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Stock Look Up",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Stock Look Up').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Active,'1')",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"Ticker": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-27T19:57:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EoDDataPipeline')]"
			]
		}
	]
}